# Case

In [ ]:
%LOAD data/example.db

CASE werkt als een if-then-else constructie. Maar in plaats van if wordt when gebruikt.

SELECT last_name,
CASE department_id
 WHEN 90 THEN 'Management'
 WHEN 80 THEN 'Sales'
 WHEN 60 THEN 'It'
 ELSE 'Other department'
END AS department
FROM employees;

---

:::{todo}
Er wordt hier een vergelijking met IF gemaakt; maar heb je die in SQL? Hoe zouden leerlingen die moeten kennen?
:::