# DISTINCT

In [1]:
%LOAD data/example.db

Stel dat je alle department_id's wil zien van de tabel employees.

In [2]:
SELECT department_id
FROM employees;

+---------------+
| department_id |
+---------------+
| 90            |
+---------------+
| 90            |
+---------------+
| 90            |
+---------------+
| 60            |
+---------------+
| 60            |
+---------------+
| 60            |
+---------------+
| 50            |
+---------------+
| 50            |
+---------------+
| 50            |
+---------------+
| 50            |
+---------------+
| 50            |
+---------------+
| 80            |
+---------------+
| 80            |
+---------------+
| 80            |
+---------------+

+---------------+
| 10            |
+---------------+
| 20            |
+---------------+
| 20            |
+---------------+
| 110           |
+---------------+
| 110           |
+---------------+

Je ziet dat er dubbele waarden te zien zijn. Om te voorkomen dat er dubbele waarden worden getoond, kun je `DISTINCT` gebruiken. `DISTINCT `komt meteen na `SELECT`. Merk op dat `NULL` ook één keer wordt getoond met `DISTINCT` als er rijen met `NUL` zijn.

In [4]:
SELECT DISTINCT department_id
FROM employees
ORDER BY department_id;

+---------------+
| department_id |
+---------------+

+---------------+
| 10            |
+---------------+
| 20            |
+---------------+
| 50            |
+---------------+
| 60            |
+---------------+
| 80            |
+---------------+
| 90            |
+---------------+
| 110           |
+---------------+