# IN

In [2]:
%LOAD data/example.db

Met IN kun je gebruik maken van selecties van waarden die genoemd staan in een lijst.  Stel dat je van de tabel locations alleen maar de rijen wil zien van de landen Canada (CA) en het United Kingdom (UK).

In [3]:
SELECT city, state_province, country_id
FROM locations
WHERE country_id IN('UK', 'CA');

+---------+----------------+------------+
| city    | state_province | country_id |
+---------+----------------+------------+
| Toronto | Ontario        | CA         |
+---------+----------------+------------+
| Oxford  | Oxford         | UK         |
+---------+----------------+------------+

Deze query kun je ook zo maken:

In [4]:
SELECT city, state_province, country_id
FROM locations
WHERE country_id = 'UK' OR country_id = 'CA';

+---------+----------------+------------+
| city    | state_province | country_id |
+---------+----------------+------------+
| Toronto | Ontario        | CA         |
+---------+----------------+------------+
| Oxford  | Oxford         | UK         |
+---------+----------------+------------+