# LIMIT

In [2]:
%LOAD data/example.db

Met LIMIT kun je bepalen hoeveel rijen er getoond moeten worden.

In [3]:
SELECT last_name, salary
FROM employees
LIMIT 5;

+-----------+--------+
| last_name | salary |
+-----------+--------+
| King      | 24000  |
+-----------+--------+
| Kochhar   | 17000  |
+-----------+--------+
| De Haan   | 17000  |
+-----------+--------+
| Hunold    | 9000   |
+-----------+--------+
| Ernst     | 6000   |
+-----------+--------+

De eerste vijf rijen van de ongesorteerde tabel worden getoond. 
Ze komen in een ongedefinieerde volgorde terug, vaak hoe ze fysiek op de disk zijn opgeslagen. 
Met de optie `OFFSET` kun je bepalen hoeveel rijen er moeten worden overgeslagen vanaf het begin van de tabel bij het tonen van het aantal in de `LIMIT`. `LIMIT` en `OFFSET` hebben alleen praktische waarde als de query ook een `ORDER BY`  heeft.

In [5]:
SELECT employee_id, last_name
FROM employees
ORDER BY last_name
LIMIT 3 OFFSET 1;

+-------------+-----------+
| employee_id | last_name |
+-------------+-----------+
| 174         | Abel      |
+-------------+-----------+
| 142         | Davies    |
+-------------+-----------+
| 102         | De Haan   |
+-------------+-----------+

De eerste rij in de tabel (Abel) wordt overgeslagen en daarna worden er drie rijen getoond.