# Nesten

In [2]:
%LOAD data/example.db

Functies kunnen worden genest. Ze worden dan van binnen naar buiten afgehandeld.

In [4]:
SELECT last_name,('$ ' || CAST(salary AS CHAR))
FROM employees
WHERE last_name = 'King';

+-----------+--------------------------------+
| last_name | ('$ ' || CAST(salary AS CHAR)) |
+-----------+--------------------------------+
| King      | $ 24000                        |
+-----------+--------------------------------+

Je ziet geen verschil op je scherm maar salary wordt omgezet van een INTEGER (heel getal) naar tekst (CHAR) met CAST. Daarna wordt er voor de uitkomst een $ geplaatst met behulp van CONCAT.

---

:::{todo}
De beschrijving van het nesten van expressies moet elders komen (bij "rekenen"); het gaat niet om het nesten van functies, maar om het nesten van expressies met daarin functie-aanroepen.
:::