# Opdrachten 5

In [2]:
%LOAD data/example.db

:::{exercise} Query 1

Maak onderstaand overzicht na. De informatie komt uit de tabel departments en er is gesorteerd op department_name.

![](figs/clip0234.png)
:::

:::{exercise} Query 2

Toon de datum van vandaag. In het voorbeeld staat 16 augustus 2018 maar daar moet dus de datum van vandaag komen in het Nederlands.

:::

:::{exercise} Query 3

Maak onderstaand overzicht na.

:::

:::{exercise} Query 4

Maak onderstaand overzicht na. Met de maanden in het Nederlands en zonder voorloopnullen bij de dag. De gegevens komen uit de tabel employees en er is gesorteerd op last_name.
:::

:::{exercise} Query 5
Maak onderstaand overzicht na. De gegevens komen uit de tabel employees en er is gesorteerd op last_name.
:::

:::{exercise} Query 6
Maak onderstaand overzicht na. De informatie komt uit de tabel employees. Er is geen sortering toegepast.
:::

:::{exercise} Query 7
Maak onderstaand overzicht na. De informatie komt uit de tabel departments en er is gesorteerd op department_name. De landen die bij de location_id's horen zijn als volgt:

* 1800 - Canada
* 2500 - Verenigd Koninkrijk
* overig - Verenigde Staten

:::

:::{exercise} Query 8
Maak onderstaand overzicht na. De informatie komt uit de tabel employees en er is gesorteerd op salaris van hoog naar laag en daarna op achternaam.
:::

:::{exercise} Query 9
Maak onderstaand overzicht na. De informatie komt uit de tabel employees en er is gesorteerd op achternaam. Het salaris zoals in de tabel staat vermeld is het maandsalaris. Er zitten twaalf maanden in een jaar er zijn gemiddeld 365.25 dagen in een jaar.
:::

:::{exercise} Query 10
Maak onderstaande mededeling na. Het is de huidige tijd en de datum. De uitvoer op jouw scherm zal dus een andere tijd en datum weergeven.
:::