# Opdrachten 1

In [ ]:
%LOAD data/employees.db

:::{exercise}

Query 1: Toon alles van de tabel `countries`, zonder de kolomnamen te noemen op de bovenste regel van het `SELECT` statement.

![](figs/clip0036.png)

:::

:::{exercise}
Query 2: Toon alle voornamen en achternamen van de tabel `employees`.

![](figs/clip0037.png)

:::

:::{exercise}
Query 3: Toon `job_title`, het maximum `salary`, het minimum `salary` en het verschil tussen die twee van de tabel `jobs`.

![](figs/clip0021.png)

:::

:::{exercise}
Query 4: Toon enkel de naam van het land van de bovenste rij van de tabel `countries`.

![](figs/clip0022.png)

:::

:::{exercise}
Query 5: Toon enkel het land United Kingdom van de tabel `countries`. Je laat maar één rij zien en je slaat twee rijen over vanaf het begin.

![](figs/clip0034.png)

:::

:::{exercise}
Query 6: In de tabel employees staan de maandsalarissen. Maak een overzicht met de jaarsalarissen en toon enkel de eerste vijf rijen. Let op de kolomnamen.

![](figs/clip0035.png)

:::

:::{exercise}
Query 7: Alle personeelsleden van de tabel employees krijgen 300 dollar opslag. Maak een query voor onderstaande tabel.

![](figs/clip0025.png)

:::

:::{exercise}
Query 8: Alle personeelsleden van de tabel employees krijgen 5% opslag. Maak een query voor onderstaande tabel. In de Amerikaanse notatie bij getallen schrijf je een punt waar wij een komma zetten.

![](figs/clip0038.png)

:::

:::{exercise}
Query 9: Hoeveel verdient King per dag als we uitgaan van 30 dagen in een maand? Toon van de tabel employees enkel de eerste rij hiervoor zonder een `WHERE` te gebruiken.

![](figs/clip0039.png)

:::

:::{exercise}
Query 10: Maak een overzicht zoals hieronder. Het zijn drie van de vier werknemers van de tabel employees die commissie krijgen over hun salaris. Je toont maar drie rijen. De bedragen zijn niet afgerond.

![](figs/clip0040.png)

:::