# Opdrachten sectie 7

In [ ]:
%LOAD ../data/employees.db

:::{exercise}
Query 1: Wie heeft er dezelfde manager (hetzelfde manager_id) als de werknemer Davies?

![](figs/clip0298.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 2: Maak nu dezelfde query als bij 1 maar zorg dat Davies er zelf niet bij staat en sorteer op last_name.

![](figs/clip0299.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 3: Wie hebben er allemaal dezelfde job_title als Matos? Zorg dat Matos er zelf niet bij staat.

![](figs/clip0300.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 4: Wie verdient er minder dan Taylor? Let op de sortering.

![](figs/clip0301.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 5: Wie werken er allemaal op afdeling 50 maar hebben niet hetzelfde job_id als Mourgos? Let op de sortering.

![](figs/clip0302.png)
 
:::

In [ ]:
SELECT 1;

:::{exercise}
Query 6: Toon alle werknemers die minder verdienen dan het gemiddelde salaris. Sorteer op salaris en daarna op achternaam.

![](figs/clip0317.png)
 
:::

In [ ]:
SELECT 1;

:::{exercise}
Query 7: Wie zijn er allemaal géén manager? Dat zijn de werknemers die niet voorkomen met hun employee_id in de kolom manager_id. Maar let op bij King, want die heeft bijvoorbeeld géén manager_id want hij is de grootste baas. Je moet de rijen waarvan het manager_id NULL is uitsluiten, anders krijg je een leeg resultaat. Zie de uitleg bij Subquery - Null.

![](figs/clip0304.png)
 
:::

In [ ]:
SELECT 1;

:::{exercise}
Query 8: Welke regions komen niet voor in de tabel countries? Gebruik NOT EXISTS.

![](figs/clip0306.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 9: In welke landen hebben ze één of meerdere locaties? Gebruik WHERE EXISTS.

![](figs/clip0307.png)

:::

In [ ]:
SELECT 1;

:::{exercise}
Query 10: Welke employees staan wel in de tabel job_history maar komen niet voor in de tabel employees?

![](figs/clip0308.png)

:::

In [ ]:
SELECT 1;