# CONVERT

In [1]:
%LOAD ../data/employees.db

Met CONVERT kun je precies hetzelfde doen als met CAST: het datatype omzetten van het ene type naar het andere. De syntaxis is:

```SQL 
CONVERT(value, type)
```

In [2]:
SELECT last_name,hire_date, CONVERT(hire_date, char)
FROM employees
WHERE last_name = 'King';

Error: no such column: char

In [3]:
SELECT last_name,hire_date, CONVERT(hire_date, datetime)
FROM employees
WHERE last_name = 'King';

Error: no such column: datetime

## TODO

:::{todo}
Convert werkt niet in SQLite; en, wat is de relatie met CAST?
:::