# IS NOT NULL

In [2]:
%LOAD ../data/employees.db

Het tegenovergestelde van `IS NULL` is `IS NOT NULL`. Met `IS NOT NULL` toon je dus alle rijen die wel een waarde hebben in een bepaalde kolom.

Welke werknemers hebben er allemaal commissie? Dat zijn de werknemers met een commission_pct.

In [3]:
SELECT last_name, commission_pct
FROM employees
WHERE commission_pct IS NOT NULL;

+-----------+----------------+
| last_name | commission_pct |
+-----------+----------------+
| Zlotkey   | 0.2            |
+-----------+----------------+
| Abel      | 0.3            |
+-----------+----------------+
| Taylor    | 0.2            |
+-----------+----------------+
| Grant     | 0.15           |
+-----------+----------------+