# IS NULL

In [1]:
%LOAD ../data/employees.db

Als een waarde `NULL` is, is de waarde onbeschikbaar, onbekend, niet toegekend of niet van toepassing. Welke werknemer heeft er geen manager?

In [2]:
SELECT last_name, manager_id
FROM  employees
WHERE manager_id IS NULL;

+-----------+------------+
| last_name | manager_id |
+-----------+------------+
| King      |            |
+-----------+------------+

Welke werknemer heeft er geen department_id?

In [3]:
SELECT last_name, department_id
FROM  employees
WHERE department_id IS NULL;

+-----------+---------------+
| last_name | department_id |
+-----------+---------------+
| Grant     |               |
+-----------+---------------+