# Opdrachten 2

%LOAD ../data/employees.db

:::{exercise}
Query 1: Maak een query waarmee je de structuur van de tabel jobs als uitvoer krijgt.

![](figs/clip0019.png)

:::

:::{exercise}
Query 2: Maak een overzicht met de volledige namen en de e-mailadressen eindigend op @COMPANY.COM van de tabel employees. Let op de kolomnamen.

![](figs/clip0020.png)

:::

:::{exercise}
Query 3: Toon enkel de kolom commission_pct van de tabel employees. Elk commission_pct mag maar één keer getoond worden maar de waarde NULL moet ook getoond worden.

![](figs/clip0023.png)

:::

:::{exercise}
Query 4: Toon de jaarsalarissen van de eerste drie rijen van de tabel employees zoals in onderstaand voorbeeld.

![](figs/clip0024.png)

:::

:::{exercise}
Query 5: Maak een overzicht met de salarissen waarbij het dollarteken voor het salaris komt. Toon de eerste vijf rijen van de tabel employees. 

![](figs/clip0026.png)

:::

:::{exercise}
Query 6: Welke department_id's zijn er in de tabel employees? Ze mogen maar één keer getoond worden.

![](figs/clip0027.png)

:::

:::{exercise}
Query 7: Wie zijn er op 7 juni (ongeacht het jaar) in dienst gekomen? De informatie komt uit de tabel employees. 

![](figs/clip0062.png)

:::

:::{exercise}
Query 8:  Toon alle personeelsleden met een telefoonnummer dat begint met 011.44. De informatie komt uit de tabel employees. 

![](figs/clip0063.png)

:::

:::{exercise}
Query 9: Welke afdeling van de tabel departments heeft er geen manager?

![](figs/clip0064.png)

:::

:::{exercise}
Query 10: Welke personen werken er op de afdeling Administration (AD)? De informatie komt uit de tabel employees.

![](figs/clip0065.png)

:::